.w-1\/3 {
	width: 33.333%;
}
.w-full {
	width: 100%;
}
.w-auto {
	width: auto;
}
.max-w-full {
	max-width: 100%;
}
.h-full {
	height: 100%;
}
.h-screen {
	height: 100vh;
}
.min-h-full {
	height: 100%;
}
.min-h-full {
	min-height: 100%;
}
.max-h-full {
	max-height: 100%;
}
.block {
	display: block;
}
.hidden {
	display: none;
}

.bg-transparent {
	background: transparent;
}
.bg-current {
	background: currentColor;
}
.bg-white {
	background: white;
}

.bg-primary-light {
	background-color: #eeeeff;
}

.bg-primary,
.bg-blue {
	background-color: #5258e4;
}
.bg-black {
	background: black;
}
.bg-dark {
	background: #222222;
}
.bg-black12 {
	background: rgba(0, 0, 0, 0.02);
}
.bg-black26 {
	background: rgba(0, 0, 0, 0.05);
}
.bg-black54 {
	background: rgba(0, 0, 0, 0.1);
}
.bg-black70 {
	background: rgba(0, 0, 0, 0.5);
}
.bg-black90 {
	background: rgba(0, 0, 0, 0.75);
}
.bg-lighter-gray {
	background: #f7f7f7;
}
.bg-light-gray {
	background: #f0f0f0;
}
.bg-gray {
	background: #e8e8e8;
}
.bg-dark-gray {
	background: #888;
}
.bg-darker-gray {
	background: #6a6a6a;
}
.underline {
	text-decoration: underline;
}
.text-left {
	text-align: left;
}
.text-primary,
.text-blue {
	color: #5258e4;
}
.text-white {
	color: white;
}
.text-black {
	color: black;
}
.text-dark {
	color: #222;
}
.text-light-gray {
	color: #f0f0f0;
}
.text-gray {
	/* color: #e8e8e8; */
}
.text-dark-gray {
	color: #888;
}
.text-darker-gray {
	color: #6a6a6a;
}

.text-xs {
	font-size: 0.55rem;
}

.text-sm {
	font-size: 0.65rem;
	line-height: 1.5;
}
.text-md {
	font-size: 0.85rem;
	line-height: 1.5;
}
.text-lg {
	font-size: 1rem;
}
.text-xl {
	font-size: 1.25rem;
}
.text-2xl {
	font-size: 1.7rem;
}
.text-center {
	text-align: center;
}
.font-light {
	font-weight: 300;
}
.font-normal {
	font-weight: 500;
}
.font-medium {
	font-weight: 600;
}
.font-semibold {
	font-weight: 700;
}
.font-bold {
	font-weight: 800;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}

.tracking-wide {
	letter-spacing: 0.025em;
}
.tracking-wider {
	letter-spacing: 0.05em;
}
.tracking-widest {
	letter-spacing: 0.1em;
}

.leading-0 {
	line-height: 0;
}

.leading-none {
	line-height: 1;
}

.leading-tight {
	line-height: 1.25;
}
.leading-snug {
	line-height: 1.375;
}

.leading-relaxed {
	line-height: 1.625;
}

.leading-loose {
	line-height: 2;
}

.d-grid {
	display: grid;
}

.grid-cols-2 {
	grid-template-columns: 1fr 1fr;
}

.d-flex {
	display: flex;
}
.inline-flex {
	display: inline-flex;
}
.flex-col {
	flex-direction: column;
}
.center-center,
.items-center {
	align-items: center;
}
.center-center,
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-start {
	justify-content: flex-start;
}
.items-start {
	align-items: flex-start;
}
.justify-end {
	justify-content: flex-end;
}
.items-end {
	align-items: flex-end;
}
.flex-1 {
	flex: 1;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-shrink-0 {
	flex-shrink: 0;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.sticky {
	position: sticky;
}
.fixed {
	position: fixed;
}
.gap-1 {
	gap: 0.25rem;
}
.gap-2 {
	gap: 0.5rem;
}
.gap-3 {
	gap: 0.75rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-5 {
	gap: 1.25rem;
}

img.inset-0 {
	width: 100%;
	height: 100%;
}

.inset-0,
.inset-x-0,
.left-0 {
	left: 0;
}

.inset-0,
.inset-x-0,
.right-0 {
	right: 0;
}

.inset-0,
.inset-y-0,
.top-0 {
	top: 0;
}

.inset-0,
.inset-y-0,
.bottom-0 {
	bottom: 0;
}

.z-10 {
	z-index: 10;
}
.z-20 {
	z-index: 20;
}
.p-0 {
	padding: 0;
}
.p-1 {
	padding: 0.25rem;
}
.p-2 {
	padding: 0.5rem;
}
.p-3 {
	padding: 0.75rem;
}
.px-12px {
	padding-left: 12px;
	padding-right: 12px;
}
.px-0 {
	padding-left: 0;
	padding-right: 0;
}

.px-1,
.pl-1 {
	padding-left: 0.25rem;
}
.px-1,
.pr-1 {
	padding-right: 0.25rem;
}
.px-2,
.pl-2 {
	padding-left: 0.5rem;
}
.px-2,
.pr-2 {
	padding-right: 0.5rem;
}
.px-3,
.pl-3 {
	padding-left: 0.75rem;
}
.px-3,
.pr-3 {
	padding-right: 0.75rem;
}

.px-4,
.pl-4 {
	padding-left: 1rem;
}
.px-4,
.pr-4 {
	padding-right: 1rem;
}

.py-0 {
	padding-left: 0;
	padding-right: 0;
}
.py-1,
.pt-1 {
	padding-top: 0.25rem;
}
.py-1,
.pb-1 {
	padding-bottom: 0.25rem;
}
.py-2,
.pt-2 {
	padding-top: 0.5rem;
}
.py-2,
.pb-2 {
	padding-bottom: 0.5rem;
}
.py-3,
.pt-3 {
	padding-top: 0.75rem;
}
.py-3,
.pb-3 {
	padding-bottom: 0.75rem;
}

.-mx-12px {
	margin-left: -12px;
	margin-right: -12px;
}

.m-auto {
	margin: auto;
}

.mx-auto,
.ml-auto {
	margin-left: auto;
}

.mx-auto,
.mr-auto {
	margin-right: auto;
}
.m-0 {
	margin: 0;
}

.m-05 {
	margin: 1px;
}

.mx-0 {
	margin-left: 0;
	margin-right: 0;
}
.mx-1 {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.mx-2 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.mx-3 {
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}
.ml-1 {
	margin-left: 0.25rem;
}
.ml-2 {
	margin-left: 0.5rem;
}
.ml-3 {
	margin-left: 0.75rem;
}
.mr-1 {
	margin-right: 0.25rem;
}
.mr-2 {
	margin-right: 0.5rem;
}
.mr-3 {
	margin-right: 0.75rem;
}
.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}
.my-1 {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
.my-2 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.my-3 {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}
.my-4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.my-5 {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}
.mt-0 {
	margin-top: 0;
}
.mt-1 {
	margin-top: 0.25rem;
}
.mt-2 {
	margin-top: 0.5rem;
}
.mt-3 {
	margin-top: 0.75rem;
}
.mt-4 {
	margin-top: 1rem;
}
.mt-5 {
	margin-top: 1.25rem;
}
.mb-1 {
	margin-bottom: 0.25rem;
}
.mb-2 {
	margin-bottom: 0.5rem;
}
.mb-3 {
	margin-bottom: 0.75rem;
}
.mb-4 {
	margin-bottom: 1rem;
}
.mb-5 {
	margin-bottom: 1.25rem;
}

.opacity-0 {
	opacity: 0;
}

.opacity-100 {
	opacity: 1;
}

.opacity-90 {
	opacity: 0.9;
}

.opacity-80 {
	opacity: 0.8;
}

.opacity-75 {
	opacity: 0.75;
}
.opacity-65 {
	opacity: 0.65;
}
.opacity-50 {
	opacity: 0.5;
}
.opacity-40 {
	opacity: 0.4;
}
.border,
.border-2,
.border-3,
.border-4,
.border-y,
.border-y-2,
.border-y-3,
.border-t,
.border-t-2,
.border-t-3,
.border-b,
.border-b-2,
.border-b-3,
.border-r,
.border-l {
	border: 0px solid #ddd;
}
.border {
	border-width: 1px;
}
.border-2 {
	border-width: 2px;
}
.border-3 {
	border-width: 3px;
}
.border-4 {
	border-width: 4px;
}
.border-t,
.border-y {
	border-top-width: 1px;
}
.border-b,
.border-y {
	border-bottom-width: 1px;
}
.border-t-2,
.border-y-2 {
	border-top-width: 2px;
}
.border-b-2,
.border-y-2 {
	border-bottom-width: 2px;
}
.border-t-3,
.border-y-3 {
	border-top-width: 3px;
}
.border-b-3,
.border-y-3 {
	border-bottom-width: 3px;
}
.border-r {
	border-right-width: 1px;
}
.border-l {
	border-left-width: 1px;
}

.border-transparent {
	border-color: transparent;
}
.border-current {
	border-color: currentColor;
}

.border-primary,
.border-blue {
	border-color: #5258e4;
}
.border-black {
	border-color: black;
}
.border-dark {
	border-color: #222;
}
.border-black12 {
	border-color: rgba(0, 0, 0, 0.08);
}
.border-white {
	border-color: white;
}
.border-light-gray {
	border-color: #f0f0f0;
}
.border-gray {
	border-color: #e8e8e8;
}
.border-dark-gray {
	border-color: #888;
}
.border-darker-gray {
	border-color: #6a6a6a;
}

.divide-y > * + * {
	border-left: 1px solid #aaa;
}

.rounded-full {
	border-radius: 2000px;
}
.rounded {
	border-radius: 12px;
}
.rounded-lg {
	border-radius: 16px;
}
.rounded-md {
	border-radius: 10px;
}
.rounded-sm {
	border-radius: 6px;
}
.rounded-xs {
	border-radius: 3px;
}
.object-cover {
	object-fit: cover;
}
.object-contain {
	object-fit: contain;
}
.object-top {
	object-position: top;
}
.object-bottom {
	object-position: bottom;
}
.object-left {
	object-position: left;
}
.object-right {
	object-position: right;
}
.overflow-hidden {
	overflow: hidden;
}
.overflow-x-hidden {
	overflow-x: hidden;
}
.overflow-y-hidden {
	overflow-y: hidden;
}
.overflow-auto {
	overflow: auto;
}
.overflow-y-auto {
	overflow-y: auto;
}
.overflow-x-auto {
	overflow-y: auto;
}
.cursor-pointer {
	cursor: pointer;
}

hr {
	background-color: #cfcfcf;
}

.mix-screen {
	mix-blend-mode: screen;
}

.gray-on-hover:hover {
	background: rgba(0, 0, 0, 0.05);
}

.hoverable {
	cursor: pointer !important;
}

.hoverable:hover {
	opacity: 0.85 !important;
}

.group:not(:hover) .show-on-group-hover {
	display: none !important;
}

.group:hover .hide-on-group-hover {
	display: none !important;
}

.parent:not(:hover) .show-on-parent-hover {
	display: none !important;
}

.parent:hover .hide-on-parent-hover {
	display: none !important;
}

.parent:not(:hover) .visible-on-parent-hover {
	opacity: 0 !important;
}

.pointer-events-none {
	pointer-events: none;
}

.aspect-square {
	aspect-ratio: 1;
}

.aspect-video {
	aspect-ratio: 16/9;
}
